/* TYPOGRAPHY */
@font-face {
    font-family: 'aller reg';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff2') format('woff2'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.ttf') format('truetype'),
         url('../fonts/aller_rg-webfont.svg#allerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aller it';
    src: url('../fonts/aller_it-webfont.eot');
    src: url('../fonts/aller_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_it-webfont.woff2') format('woff2'),
         url('../fonts/aller_it-webfont.woff') format('woff'),
         url('../fonts/aller_it-webfont.ttf') format('truetype'),
         url('../fonts/aller_it-webfont.svg#alleritalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aller b';
    src: url('../fonts/aller_bd-webfont.eot');
    src: url('../fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_bd-webfont.woff2') format('woff2'),
         url('../fonts/aller_bd-webfont.woff') format('woff'),
         url('../fonts/aller_bd-webfont.ttf') format('truetype'),
         url('../fonts/aller_bd-webfont.svg#allerbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aller b it';
    src: url('../fonts/aller_bdit-webfont.eot');
    src: url('../fonts/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_bdit-webfont.woff2') format('woff2'),
         url('../fonts/aller_bdit-webfont.woff') format('woff'),
         url('../fonts/aller_bdit-webfont.ttf') format('truetype'),
         url('../fonts/aller_bdit-webfont.svg#allerbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* FONT STACKS */




/* FLATICON */

@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
    
}.flaticon-arrow165:before {
	content: "\e000";
}
.flaticon-calculation1:before {
	content: "\e001";
}
.flaticon-chemistry20:before {
	content: "\e002";
    font-size: 104px;
    margin: 0;
    color: $headline-color;
}
.flaticon-earth53:before {
	content: "\e003";
    font-size: 104px;
    margin: 0;
    color: $headline-color;
}
.flaticon-expand38:before {
	content: "\e004";
}
.flaticon-external1:before {
	content: "\e005";
    font-size: 1em;
    margin-left: .3em;
}
.flaticon-facebook41:before {
	content: "\e006";
}
.flaticon-keyboard53:before {
	content: "\e007";
}
.flaticon-left207:before {
	content: "\e008";
}
.flaticon-magnifier12:before {
	content: "\e009";
}
.flaticon-multiple25:before {
	content: "\e00a";
    font-size: 104px;
    margin: 0;
    color: $headline-color;
}
.flaticon-twitter1:before {
	content: "\e00b";
}
.flaticon-web-programming:before {
	content: "\e00c";
    font-size: 104px;
    margin: 0;
    color: $headline-color;
}