@import "settings";
//@import "foundation";

// Or selectively include components
 @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
   "foundation/components/grid";
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

body{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* FOR DEVELOPMENT ONLY */

/*body{
	background-image: url(../images/bg-940-grid.jpg);
	background-repeat: repeat-y;
	background-position: 50%;
}

div, header, aside, footer, nav{
	border: 1px solid red;
}

.line-length{
	color: red;
}*/

/* END DEVELOPMENT ONLY */

.clear{
    clear: both;
}

fieldset{
	/* padding: 12px; /* fallback for IE8 */
	/* padding: .75em .75rem; */
	padding: 0;
	border: none;
	margin-bottom: 1em;
}

legend{
	background-color: #F2F2F2; /* lightest grey */
	width: 100%;
	padding: .66666667em;
}

form p{
	margin-bottom: 1.25em;	
}

label{
	display: block;
	margin-bottom: .66666666667em;
}

input[type="text"],
input[type="email"], 
input[type="password"]{
	display: block;
	width: 100%;
	margin-bottom: 1.25em;
	padding: .25em;
	height: 2em;
	font-size: 1em;
	border: 1px solid #C2C2C2; /* grey */
	background-color: #FFFFFF;
}

.wide-text input[type="text"]{
	float: left;
}

input[type="checkbox"]{
	margin: .25em .6666666667em .25em 0;
	height: 1.28em;
}

textarea{
	width: 100%;
	padding: .25em;
	font-size: 1em;
	border: 1px solid #C2C2C2; /* grey */ 
	background-color: #F5F5F5;
}

select{
	font-size: 1em;
}

input[type="submit"], 
button{
	outline: none;
	background-color: #8F8F8F;
	color: #FFFFFF;
	border: none;
	padding: .666666667em .8em;
	font-size: 1em;
	letter-spacing: .02em;
}

input[type="submit"]:hover, 
input[type="submit"]:focus, 
button:hover{
	background-color: #000;
}


input:focus,
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus,  
textarea:focus{
	background-color: #ffffff;
	border: 1px solid #C2C2C2; /* grey */
}


/* LAYOUT */
.wrapper{
    width: 100%;
    max-width: 1366px;
}

/* HEADER */

.header{
    background-color: azure;
}
header{
    
}

header .searchform{
    float: right;
    input[type="submit"]{
        display: none;
    }
    input[type="text"]{
        margin-bottom: 0;
    }
}

header{
    padding-top: 16px;
    padding-bottom: 16px;
    
    .nav-social{
        float: right;
    }
    
    h1{
        margin: 30px 0 0 0;
        span{
            display: none;
        }
    }
    
    a.menu-button{
        display: none;
    }
}

.logo{
    width: 200px;
    float: left;
}


/* NAVIGATION */

nav ul{
    list-style-type: none;
    padding: 0;
    
}

/* NAV-SOCIAL */
.nav-social{
    
    ul{
        margin-left: 0;
        margin-top: 0;
        padding-left: 0;
        overflow: hidden;
    }
    
    li{
        width: 35px;
        float: left;
        margin-right: 16px;
        margin-bottom: 0;
    }
}


/* NAV-MAIN */
#nav-mobile{
    display: none;
}

#nav-main{
    float: right;
    margin-top: 50px;
    
    ul{
        margin: 0;
        padding: 0;
    }
    
    ul.menu{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
  
        -webkit-flex-flow: row wrap;
        justify-content: flex-end;
        
        //target top level nav links only
        & > li > a{
            border-bottom: 3px solid #fff;
            
            //on hover, show border bottom on top level nav links
            &:hover{
                border-bottom: 3px solid black;
            }
        }
        
        //when on a top-level page, target only the top level nav link (not all of the links in the dropdown) - and make it bold 
        & > li.current-menu-item > a{
            font-weight: bold;
        }
        
        //when on a sub-page, target the top-level link (its ancestor) - and make it bold
        & > li.current-page-ancestor > a{
            font-weight: bold;
        }
        
        //when on a sub page, the make that link in the sub menu dropdown bold
        & > li > ul > li.current-menu-item a{
             font-weight: bold;
        }
    }
    
    li{
        position: relative;
        //float: left;
        //margin-bottom: 0;
        //display: inline;
        
       /* &:last-of-type{
            margin-right: 0;
        }*/
        
        &:hover{
            //border-bottom: 3px solid black;
            
            //when hovering over any menu li, give the sub-menu display: block
            & ul.sub-menu{
                display: block;
            }
        }
        
        //add a downward pointing arrow to links for menu items that have children (indicate there is a dropdown)
        &.menu-item-has-children > a:after{
            content: " ▿";
        }
        
        ul{
            position: absolute;
            width: 160px;
            left: 0;
            top: 100%;
            background: hsla(0,0%,100%,0.8);
            z-index: 900;
            
            li{
                width: 160px;
                
                a{
                    display: block;
                }
                
                &:hover a{
                    background-color: #fff
                }
            }
            
            &.sub-menu{
                display: none;
            }
        }
    }
    
    a{
        display: block;
        padding: 8px 12px;
        color: #000;
        &:link, 
        &:visited{
            text-decoration: none;
        }
    }
}





/* FOOTER-MENU */

footer{
    background-color: floralwhite;
}

footer ul.menu > li.menu-item-has-children{
    float: left;
    width: 25%;
    padding: 0 15px;
}

footer ul.menu > li > a{
    text-transform: uppercase;
}

footer .nav{
    margin-bottom: 30px;
}

footer .widget{
    overflow: hidden;
    
    h4{
        margin-top: 16px;
        margin-bottom: 4px;
    }
    p{
        display: inline;
    }
}

footer .newsletter-container{
    width: 50%;
    padding: 0 15px;
    float: right;
}

footer .copyright-container{
    width: 50%;
    padding: 0 15px;
    
}


/* BREADCRUMBS */
#breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
    
    li{
        display:inline-block;
        vertical-align:middle;
        margin-right:15px;
    }
    
    .separator{
        font-size:18px;
        font-weight:100;
        color:#ccc;
    }
}


/* SIDEBAR */

.primary{
    
}


/* HOME PAGE */

.home .center{
    text-align: center;
}

.home .row h1, 
.home .row h2{
    
    text-align: center;
}

.software{
    img{
        width: 180px;
    }
}


.partners ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
    
    li{
        //float: left;
        width: 140px;
        text-align: center;
        margin-bottom: 16px;
    }
}

.get-involved{
    img{
        max-height: 120px;
    }
}


/* SPOTLIGHT */

.spotlight{
    overflow: hidden;
    position: relative;
    //height: 200px;
    //background-image: url('https://placekitten.com/g/1000/400');
    //background-size: cover;
    
    h1{
        position: absolute;
        //display: block;
        //z-index: 100;
        //background-color: hsla(0,0%,100%,0.8);
        //width: 100%;
        bottom: 0;
        //margin-bottom: 0;
        //padding: 12px;
        color: white;
    }
    img{
        width: 100%;
    }
}

/* BREADCRUMBS */

div.breadcrumbs{
    background-color: #E6E6E6;
}

/* TABS */

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
    text-align: center;
          
    li{
      	background: none;
      	display: inline-block;
      	padding: 10px 15px;
      	cursor: pointer;
                
        &.current{
            border-bottom: 3px solid black;
        }
    }
}
          

.tab-content{
	display: none;
    
    &.current{
        display: inherit;
    }
}

.content section{
    overflow: hidden;
    border-bottom: 1px solid #000;
    padding: 30px 0 50px 0;
    &:last-of-type{
        border-bottom: none;
    }
    
    ul{
        list-style-type: none;
        margin: 0 auto;
        text-align: center;
        padding-left: 0;
    }
    
    li{
        display: inline;
        font-size: 18px;
        margin-right: 30px;
        
        &:last-of-type{
            margin-right: 0;
        }
        
        a{
            font-weight: bold;
            color: #000;
            text-decoration: none;
        }
    }
    
    p{
        margin-bottom: 32px;
    }
}



/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

img.wp-post-image {}
img.attachment-thumbnail {}
img.attachment-medium {}
img.attachment-large {}
img.attachment-full {}

article img.attachment-thumbnail {
    float: left;
	margin: 4px 20px 0 0;
}

article{
    overflow: hidden;
}


/* ACCORDION */

.accordion {
    overflow:hidden;
    /*box-shadow:0px 1px 3px rgba(0,0,0,0.25);*/
    /*border-radius:3px;*/
   /* background:#f7f7f7;*/
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:5px 0;
    display:inline-block;
    transition:all linear 0.15s;
    font-size:1.200em;
	text-decoration: none;
}
 
.accordion-section-title.active, 
.accordion-section-title:hover, 
.accordion-section-title:focus, 
.accordion-section-title:active{
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom: 1px solid #8F8F8F;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    padding:15px 0;
    display:none;
}

/* FLEXSLIDER */
.metaslider .flexslider{
	border: none;
}

.metaslider .flex-direction-nav a{
	height: 50px;
	display: block;
	background-color: hsla(0,0%,0%,0.15);
    text-shadow: none;
    color: hsla(0,0%,0%,0);
    opacity: 1 !important;
    
    &:hover{
        background-color: hsla(0,0%,0%,0.3);
    }
    
    &:before{
        content: "";
        display: block;
        width: 40px;
        height: 50px;
        background-position: center;
        position: absolute;
        top: 6px;  
    }
    
    &.flex-next{
        right: 0 !important;
        
        &:before{
            content: "";
            background: url('../images/right-arrow.png') no-repeat !important;
            left: 8px;
        }
    }
    
    &.flex-prev{
        left: 0 !important; 
        //opacity: 1 !important;
        
        &:before{
            background: url('../images/left-arrow.png') no-repeat !important;
            left: 8px;
        }
    }
}

/*.flexslider { width: 90%; margin: 0 auto; }*/


.metaslider .flex-control-nav{
    bottom: 4%;
    z-index: 900;
}

.metaslider .slides li{
	position: relative;
}

.metaslider button{
    padding: 10px 30px;
	font-size: 1em;
    border: 2px solid black;
    background: none;
	color: #000000;
    margin-top: 8px;
    
    &:hover{
        background-color: #FFFFFF;
    }
    
    a{
        text-decoration: none;
        color: #000;
    }
}

.metaslider .caption-wrap{
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 24px;
    background-color: hsla(0,0%,100%,0.8);
    padding: 2em 2rem;
}

/* MEDIA QUERIES */

@media all and (max-width: 825px) {
    header{
        h1{
            margin: 0 0 16px 0;
            overflow: hidden;
        }
    }
    #nav-main{
        float: none;
        margin-top: 0;
        ul.menu {
            width: 100%;
            justify-content: space-around;
        }
    }  
    

    footer ul.menu > li.menu-item-has-children{
        width: 50%;
        //clear: both;
        padding-bottom: 30px;
        &:nth-of-type(3){
            clear: both;
        }
    }
    
    
}

@media all and (max-width: 640px) {
    aside#primary{
        display: none;
    }
}


@media all and (max-width: 625px) {

    header a.menu-button{
        display: block;
        float: right;
        text-decoration: none;
        color: #000;
        padding-left: 16px;
        border-left: 1px solid black;
    }
    
    #nav-main{
        display: none;
    }
    
    #nav-mobile{
        display: none;
        &.show{
            display: block;
        }
        ul.menu{
            -webkit-flex-flow: column wrap;
            flex-flow: column wrap;
            padding: 0;
            height: auto;
            clear: both;
            
            li{
                width: 100%;
                
                &.menu-item-has-children > a:after{
                    content: " +";
                }
                
                ul{
                    display: none;
                }
                
                &.tap ul{
                    display: block;
                    background-color: #f1f1f1;
                }
                
                &.tap > a:after{
                    content: " -";
                }
            }
            
            //when on a top-level page, target only the top level nav link (not all of the links in the dropdown) - and make it bold 
        & > li.current-menu-item > a{
            font-weight: bold;
        }
        
        //when on a sub-page, target the top-level link (its ancestor) - and make it bold
        & > li.current-page-ancestor > a{
            font-weight: bold;
        }
        
        //when on a sub page, the make that link in the sub menu dropdown bold
        & > li > ul > li.current-menu-item a{
             font-weight: bold;
        }
            
            a{
                display: block;
                line-height: 40px;
                border-bottom: 1px solid black;
                text-decoration: none;
                color: #000;
                padding: 0 10px;
                &:hover{
                    background-color: #e6e6e6;
                }
            }
        }
    }
    
    
    
    /*#nav-main ul.menu{
        display: none;
        &.show{
            display: block;
        }
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
        height: auto;
        clear: both;
        
        li{
            width: 100%;
            &:hover ul{
                display: none;
            }
            &.tap ul{
                display: block;
                background-color: #f1f1f1;
            }
            
            &.tap > a:after{
                content: " ▵" !important;
            }
        }
        a { 
            //text-align: center; 
            line-height: 40px;
            border-bottom: 1px solid black;
            //padding: 10px;
            //border-top: 1px solid rgba(255,255,255,0.3); 
            //border-bottom: 1px solid rgba(0,0,0,0.1); 
            
            &:hover{
                background-color: #e6e6e6;
            }
        }
        ul{
            position: relative;
            width: 100%;
        }
        //target top level nav links only
        & > li > a{
            border-bottom: 1px solid black;
            
            //on hover, show border bottom on top level nav links
            &:hover{
                border-bottom: 1px solid black;
                background-color: #e6e6e6;
            }
        }
        & > li:last-of-type a {
            border-bottom: none;
        }     
  }*/
    
    header h1{
        display: inline;
    }
    
    header img.logo{
        width: 140px;
    }
    
    header .nav-social{
        display: none;
    }
    
    #nav-footer{
        display: none;
    }
    
    footer .nav{
        margin-bottom: 0;
    }
    
    footer .nav-social{
        float: none;
        margin: 0 auto;
        width: 86px;
        
        li:last-of-type{
            margin-right: 0;
        }
    }
    
    footer .newsletter-container{
        width: 100%;
    }
    
    footer .copyright-container{
        width: 100%;
        text-align: center;
    }

}
    
