@import "resets"; 
@import "settings";
//@import "foundation";

// Or selectively include components
 @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
   "foundation/components/grid";
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@import "wordpress-classes";


/* FOR DEVELOPMENT ONLY */

/*body{
	background-image: url(../images/bg-940-grid.jpg);
	background-repeat: repeat-y;
	background-position: 50%;
}

div, header, aside, footer, nav{
	border: 1px solid red;
}

.line-length{
	color: red;
}*/

/* END DEVELOPMENT ONLY */




/* VARIABLES */

/* MEDIA QUERIES */
$all-lg: "all and (max-width: 825px)";
$all-md: "all and (max-width: 640px)"; 
$all-mdsm: "all and (max-width: 640px)";
$all-sm: "all and (max-width: 625px)";
$all-xs: "all and (max-width: 420px)";


/* COLORS */
$main-color: #243F50;
$secondary-color: #3A576F;
$accent-color: #5B8F47;
$highlight-color: darken(#6DCFF6, 15%);
$bg-divider-color: #E6E6E5;
$bg-color: #ECECEB;
$text-color: #58585B;
$headline-color: #344F65;
$body-color: lighten($bg-color, 5%);

/* RESPONSIVE */

/* will not validate --------- */
html { 
	/* don't resize body copy on iPhone */
	-webkit-text-size-adjust: none;  
}

@-ms-viewport,		/* IE10 */
@viewport	{		/* future browsers */
    width: extend-to-zoom;
    zoom: 1.0;
}
/* --------- end will not validate */


html{
	font-size: 16px; /* 1 rem = 16px */ /* set in px so we can use rems */
}


/* FONT FAMILIES */
@font-face {
    font-family: 'aller reg';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff2') format('woff2'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.ttf') format('truetype'),
         url('../fonts/aller_rg-webfont.svg#allerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aller it';
    src: url('../fonts/aller_it-webfont.eot');
    src: url('../fonts/aller_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_it-webfont.woff2') format('woff2'),
         url('../fonts/aller_it-webfont.woff') format('woff'),
         url('../fonts/aller_it-webfont.ttf') format('truetype'),
         url('../fonts/aller_it-webfont.svg#alleritalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aller b';
    src: url('../fonts/aller_bd-webfont.eot');
    src: url('../fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_bd-webfont.woff2') format('woff2'),
         url('../fonts/aller_bd-webfont.woff') format('woff'),
         url('../fonts/aller_bd-webfont.ttf') format('truetype'),
         url('../fonts/aller_bd-webfont.svg#allerbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aller b it';
    src: url('../fonts/aller_bdit-webfont.eot');
    src: url('../fonts/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_bdit-webfont.woff2') format('woff2'),
         url('../fonts/aller_bdit-webfont.woff') format('woff'),
         url('../fonts/aller_bdit-webfont.ttf') format('truetype'),
         url('../fonts/aller_bdit-webfont.svg#allerbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}


body{
	font-family: 'aller reg', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $text-color;
    background-color: $body-color;
}

/* TEXT STYLES */

b, 
strong{
	font-family: 'aller b', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
}

i, 
em{
	font-family: 'aller it', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6{
	font-family: 'aller b', Helvetica, Arial, sans-serif;
	margin-bottom: em(5);
	margin-top: em(8);
    color: $headline-color;
}

p, 
ol, 
ul, 
dl{
	margin-bottom: em(16);
}

ul{
	margin-left: em(18);
    list-style-type: disc;
}

ol{
	margin-left: em(20);
    list-style-type: decimal;
}

li{
	margin-bottom: em(10);
}

dt{
	font-family: 'aller b', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	margin-bottom: em(8);
}

dd{
	margin-left: em(18);
	margin-bottom: em(12);
}

/*h1{
	font-size: 3.375em;
}*/

h1{
	font-size: em(32);
}

h2{
	font-size: em(28);
}

h3{
	font-size: em(24);
}

h4{
	font-size: em(21);
}

h5{
	font-size: em(18);
}

h6{
	font-size: em(16);
}

small{
	font-size: em(12);
}

blockquote{
	font-size: 1.125em;
	font-style: italic;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 1em;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
}

.attrib{
	margin-top: 1.125em;
	margin-bottom: 0;
}

figcaption{
	font-size: .75em;
	text-align: right;
	color: #8F8F8F; /* grey */ 
}

.content h2:first-of-type{
    margin-top: 0;
}


/* LINK STYLES */

a:link,
a:visited{
	color: $accent-color;
	text-decoration: none;
}

a:hover,
a:focus{
	color: $highlight-color;
}


a.link-button{
    padding: 4px 30px 10px 30px;
    font-size: 1em;
    border: 2px solid $accent-color;
    background: none;
    color: $accent-color;
    text-decoration: none;
        
    &:hover{
        background-color: $accent-color;
        color: $bg-color;
    }
}


.clear{
    clear: both;
}


/* FORMS */
fieldset{
    /* padding: 12px; /* fallback for IE8 */
    /* padding: .75em .75rem; */
    padding: 0;
    border: none;
    margin-bottom: 1em;
}

legend{
    background-color: $bg-divider-color; 
    width: 100%;
    padding: .66666667em;
}

form p{
    margin-bottom: 1.25em;	
}

label{
    display: block;
    margin-bottom: .66666666667em;
}

input[type="text"],
input[type="search"],
input[type="email"], 
input[type="password"]{
    display: block;
    width: 100%;
    margin-bottom: em(20);
    padding: em(4);
    height: em(32);
    font-size: em(16);
    border: none;
    background-color: $body-color;
}

input[type="checkbox"]{
    margin: em(4) em(9) em(4) 0;
    height: em(20);
}

textarea{
	width: 100%;
	padding: em(4);
	font-size: em(16);
	border: none; 
	background-color: $body-color;
}

select{
	font-size: em(16);
}

input[type="submit"], 
button{
	outline: none;
	background-color: $accent-color;
	color: $bg-color;
	border: none;
	padding: em(9) em(12);
	font-size: em(16);
	letter-spacing: .02em;
}

input[type="submit"]:hover, 
input[type="submit"]:focus, 
button:hover{
	background-color: $highlight-color;
}


input:focus,
input[type="text"]:focus, 
input[type="search"], 
input[type="email"]:focus, 
input[type="password"]:focus,  
textarea:focus{
	background-color: $body-color;
}


/* LAYOUT */
.wrapper{
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    background-color: $bg-color;
    
    &.accent{
        background-color: $bg-divider-color;
    }
}

/* HEADER */

.header{
    background-color: $main-color;
    
    .search-form{
        float: right;
        //clear: both;
        @media #{$all-sm} {
            float: none;
            //margin-top: em(50);
            
            &.show{
                padding: 50px 0 20px 0;
                
                .search-field{
                    display: block;
                    float: none;
                    width: 100%;
                    margin: em(16) 0;
                }
            }
        }
        .search-submit{
            display: none;
        }
    
        .search-field{
            background-color: $body-color;
            background-image: url('../images/search-icon.png');
            background-position: em(5) center;
            background-repeat: no-repeat;
            background-size: em(24) em(24);
            border: none;
            cursor: pointer;
            height: 2em;
            margin: 0;
            padding: 0 0 0 em(34);
            position: relative;
            cursor: text;
            outline: 0;
            width: em(230);
                //border-bottom: 3px solid $bg-color;
            
            
            @media #{$all-sm} {
               /* -webkit-transition: width 400ms ease, background 400ms ease;
                transition: width 400ms ease, background 400ms ease;
                background-color: transparent;
                width: 0;
                //border-bottom: 3px solid $main-color;
                margin-right: 16px;
                    &:focus{
                    background-color: $body-color;
                    //border: 2px solid #c3c0ab;
                    cursor: text;
                    outline: 0;
                    width: 100%;
                    //border-bottom: 3px solid $bg-color;
                }*/
                display: none;
            }
        }
    }
    
    .search-button{
        display: none;
        @media #{$all-sm} {
            display: block;
            float: right;
            padding: em(6) em(16);
            img{
                width: 24px;
            }
        }
    }
    
    
}

header{
    padding-top: 16px;
    padding-bottom: 16px;
    
    @media #{$all-sm} {
        //padding-bottom: 0; 
    }
    .nav-social{
        float: right;
        
        @media #{$all-sm} {
            display: none;
        }
    }
    
    h1{
        position: absolute;
        bottom: 0;
        
        @media #{$all-lg} {
            position: relative;
            margin: 0 0 16px 0;
            overflow: hidden;
        }
    
        @media #{$all-sm} {
            display: inline;
        }
        
        span{
            display: none;
        }
    }
    
    a.menu-button{
        display: none;
        
        @media #{$all-sm} {
            display: block;
            float: right;
            text-decoration: none;
            color: $bg-color;
            padding: em(6) 0 em(6) em(16);
            border-left: 1px solid $bg-color;
        }
    }

    .logo{
        width: 175px;
        float: left;
        
        @media #{$all-sm} {
            width: 140px;
        }
    }
}




/* NAVIGATION */

nav ul{
    list-style-type: none;
    padding: 0;
    ul{
        margin-left: 0;
    }
}

/* NAV-SOCIAL */
.nav-social{

    ul{
        margin: 0;
        padding-left: 0;
        overflow: hidden;
    }
    
    li{
        float: left;
        margin-right: em(18);
        margin-bottom: 0;
        margin-top: em(6);
    }
    img{
        height: 20px;
        @media #{$all-xs} {
            height: 30px;
        }
    }
}


/* NAV-MAIN */

#nav-main{
    text-transform: lowercase;
    float: right;
    clear: right;
    margin-top: 50px;
    
    @media #{$all-lg} {
        float: none;
        margin-top: 0;
    }

    @media #{$all-sm} {
        display: none;
    }

    ul{
        margin: 0;
        padding: 0;
    }
    
    ul.menu{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
  
        -webkit-flex-flow: row wrap;
        justify-content: flex-end;
        
        @media #{$all-lg} {
            width: 100%;
            justify-content: space-around;
        }

        & > li > ul > li:first-of-type a{
            padding-top: em(20);
        }
        
        //target top level nav links only
        & > li > a{
            border-bottom: 5px solid $main-color;
            
            //on hover, show border bottom on top level nav links
            &:hover{
                border-bottom: 5px solid $accent-color;
            }
        }
        
        //when on a top-level page, target only the top level nav link (not all of the links in the dropdown) - and make it bold 
        & > li.current-menu-item > a{
            border-bottom: 5px solid $accent-color;
        }
        
        //when on a sub-page, target the top-level link (its ancestor) - and make it bold
        & > li.current-page-ancestor > a{
            border-bottom: 5px solid $accent-color;
        }
        
        //when on a sub page, the make that link in the sub menu dropdown bold
        & > li > ul > li.current-menu-item a{
             background-color: $main-color;
        }
    }
    
    li{
        position: relative;
        margin-bottom: 0;
        
        &:hover{
            
            //when hovering over any menu li, give the sub-menu display: block
            & ul.sub-menu{
                display: block;
                z-index: 999;
            }
        }
        
        //add a downward pointing arrow to links for menu items that have children (indicate there is a dropdown)
        &.menu-item-has-children > a:after{
            content: " ▿";
        }
        
        ul{
            position: absolute;
            width: 160px;
            left: 0;
            top: 100%;
            background: rgba( $main-color, .7 );
            //opacity: .5;
            z-index: 900;
            
            li{
                width: 160px;
                
                a{
                    display: block;
                }
                
                &:hover a{
                    background-color: rgba( $main-color, 1);
                }
            }
            
            &.sub-menu{
                display: none;
            }
        }
    }
    
    a{
        display: block;
        padding: 8px 12px;
        color: $bg-color;
        &:link, 
        &:visited{
            text-decoration: none;
        }
    }
}


/* NAV-MOBILE */

#nav-mobile{
    text-transform: lowercase;
    display: none;
    @media #{$all-sm} {
        display: none;
        &.show{
            display: block;
        }
        ul.menu{
            -webkit-flex-flow: column wrap;
            flex-flow: column wrap;
            padding: em(20) 0 0 0;
            margin: 0;
            height: auto;
            clear: both;
            
            li{
                width: 100%;
                margin-bottom: 0;
                
                &.menu-item-has-children > a:after{
                    content: " +";
                }
                
                ul{
                    display: none;
                }
                
                &.tap ul{
                    display: block;
                    background-color: $main-color;
                    margin-bottom: 0;
                    //padding-left: em(12);
                    a{
                        text-indent: em(12);
                    }
                }
                
                &.tap > a:after{
                    content: " -";
                }
            }
            
        //when on a top-level page, target only the top level nav link (not all of the links in the dropdown) - and make it bold 
        & > li.current-menu-item > a{
            background-color: $secondary-color;
        }
        
        //when on a sub-page, target the top-level link (its ancestor) - and make it bold
        & > li.current-page-ancestor > a{
            
        }
        
        //when on a sub page, the make that link in the sub menu dropdown bold
        & > li > ul > li.current-menu-item a{
             background-color: $secondary-color;
        }
            
            a{
                display: block;
                line-height: 40px;
                border-bottom: 1px solid $secondary-color;
                text-decoration: none;
                color: $bg-color;
                padding: 0 10px;
                &:hover{
                    background-color: $secondary-color;
                }
            }
        }
    }
}

/* FOOTER-MENU */

footer{
    color: $bg-color;
    
    a{
        color: $bg-color;
        text-decoration: none;
    }
    
    h4{
        color: $bg-color;
    }
    
    .nav-social{
        float: left;
        @media #{$all-lg} {
            float: none;
            margin: 0 auto;
            width: 86px;
            
            li:last-of-type{
                margin-right: 0;
            }
        }
    }
}

.wrapper.footer-primary{
    background-color: $main-color !important;
    padding-top: em(30);
    @media #{$all-sm} {
        padding-top: 0;
    }
}
.wrapper.footer-secondary{
    background-color: $secondary-color !important;
    padding: em(30) 0;
}

#nav-footer{
    a{
        color: $bg-color;
        text-decoration: none;
        
        &:hover{
            color: darken($bg-divider-color, 20%);
        }
    }
    @media #{$all-sm}{
        display: none;
    }
}

footer ul.menu{
    margin-left: 0;
}

footer ul.menu > li.menu-item-has-children{
    float: left;
    width: 25%;
    
    @media #{$all-lg} {
        width: 50%;
        &:nth-of-type(3){
            clear: both;
        }
    }
}

footer ul.menu > li{
    margin-bottom: 0;
    
    @media #{$all-lg}{
        margin-bottom: em(20);
    }
}

footer ul.menu > li > a{
    text-transform: uppercase;
    font-family: 'aller b', Helvetica, Arial, sans-serif;
    margin-bottom: em(20);
    display: inline-block;
}

footer .widget{
    float: right;
    width: 75%;
    @media all and (max-width: 925px){
        width: 85%;
    }
    @media #{$all-lg} {
        width: 100%;
        float: none;
    }
    
    h4{
        margin: 0 em(10) 0 0;
        float: left;
        font-size: em(20);
        text-transform: uppercase;
        
        @media #{$all-lg} {
            float: none;
            text-align: center;
            margin-bottom: em(16);
        }
    }
    p{
        display: inline;
    }

    form{
        overflow: hidden;
        
        @media #{$all-lg} {
            margin-bottom: em(20);
        }   
        
        input[type="email"].newsletter-email{
            width: 75%;
            float: left;
            border: none;
            margin-bottom: 0;
            background-color: $bg-color;
            
            @media #{$all-xs} {
                width: 100%;
                margin-bottom: em(12);
            }
        }

        input[type="submit"].newsletter-submit{
            width: 25%;
            float: none;
            height: 2em;
            padding: 0 12px;
            @media #{$all-xs} {
                width: 100%;
            }
        }
    }
}




footer .copyright-container{
    text-align: center;
    clear: both;
    padding: em(24) 0;
    
    p{
        margin: 0;
    }
    a{
        color: $bg-color;
        
        &:hover{
            color: darken($bg-divider-color, 20%);
        }
    }
    
    @media #{$all-sm} {

    }
}


/* BREADCRUMBS */
#breadcrumbs{
    list-style:none;
    margin:0;
    padding: 0;
    overflow:hidden;
    
    li{
        display:inline-block;
        vertical-align:middle;
        margin: 0;
        padding: em(16) em(8) em(16) 0;
    }
    
    .separator{
        font-weight:100;
        color:#ccc;
    }
}


/* SIDEBAR */

aside.primary{
    @media #{$all-md} {
        display: none
    }
    .current_page_item a{
        border-bottom: 5px solid $accent-color;
    }

    #nav-sub h2{
        margin-bottom: em(25);
    }

    #nav-sub a{
        color: $headline-color;
        padding-bottom: em(6);
        &:hover{
            border-bottom: 5px solid $accent-color;
        }   
    }
    
    #nav-sub ul{
        margin-left: 0;
        li{
            margin-bottom: em(25);
        }  
    }
    
    .widget h4{
        margin-bottom: em(25);
    }
}

.page:not(.page-id-45) #nav-sub ul li:first-of-type a{
    font-size: em(25);
    font-family: 'aller b', Helvetica, Arial, sans-serif;
    padding-bottom: em(2);
}


/* HOME PAGE */

.home .center{
    text-align: center;
}

.home .division{
    padding-top: em(40);
    padding-bottom: em(40);
}
.home h1{
    text-transform: uppercase;
}

.home .center a{
    font-family: 'aller b', Helvetica, Arial, sans-serif;
    font-size: em(18);
}

.software{
    img{
        width: 105px;
    }
}


.community ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    
    li{
        width: 140px;
        text-align: center;
        margin-bottom: 16px;
    }
}

.get-involved{
    img{
        max-height: 95px;
    }
    & > p{
        margin-top: 0;
    }
}


/* SPOTLIGHT */

.spotlight{
    overflow: hidden;
    position: relative;
    
    h1{
        position: absolute;
        bottom: 0;
        color: $bg-color;
        font-size: em(88);
        font-size: 7vmax;
        margin-bottom: 0;
    }
    img{
        width: 100%;
    }
    
    .leaflet-container img{
        width: auto;
    }
}

/* BREADCRUMBS */

div.breadcrumbs{
    background-color: $bg-divider-color;
}

/* TABS */

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
    text-align: center;
          
    li{
      	background: none;
      	display: inline-block;
      	padding: em(10) em(16);
      	cursor: pointer;
        
        h2{
            font-size: em(20);
        }
                
        &.current{
            border-bottom: 5px solid $accent-color;
        }
    }
}
          

.tab-content{
	display: none;
    
    &.current{
        display: inherit;
    }
}

.content section{
    //overflow: hidden;
    border-bottom: 1px solid $main-color;
    padding: em(30) 0;
    &:first-of-type{
        padding-top: 0;
    }
    &:last-of-type{
        border-bottom: none;
    }
    
    ul{
        list-style-type: none;
        margin: 0 auto;
        text-align: center;
        padding-left: 0;
    }
    
    li{
        display: inline;
        font-size: 18px;
        margin-right: 30px;
        
        @media #{$all-xs} {
            display: list-item;
        }
        &:last-of-type{
            margin-right: 0;
        }
        
        a{
            font-weight: bold;
            text-decoration: none;
        }
    }
}



/* MAIN CONTENT */
article img.attachment-thumbnail {
    float: left;
	margin: 4px 20px 0 0;
}

article{
    overflow: hidden;
}

.main{
    padding: em(30) 0;
}

.main-container{
    background-color: $bg-color;
}

/* ACCORDION */

.accordion {
    overflow:hidden;
    /*box-shadow:0px 1px 3px rgba(0,0,0,0.25);*/
    /*border-radius:3px;*/
   /* background:#f7f7f7;*/
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:5px 0;
    display:inline-block;
    transition:all linear 0.15s;
    font-size:1.200em;
	text-decoration: none;
}
 
.accordion-section-title.active, 
.accordion-section-title:hover, 
.accordion-section-title:focus, 
.accordion-section-title:active{
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom: 1px solid #8F8F8F;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    padding:15px 0;
    display:none;
}


/* FLEXSLIDER */
.metaslider .flexslider{
	border: none;
    margin-bottom: 0;
}

.metaslider .flex-nav-prev{
    margin-bottom: 0;
}

.metaslider .flex-nav-next{
    margin-bottom: 0;
}

.metaslider .slides li .caption-wrap{
    visibility: hidden;
}

.metaslider .slides li.flex-active-slide .caption-wrap{
    visibility: visible;
}

.metaslider .flex-direction-nav{
    @media #{$all-xs} {
        display: none;
    }
}
.metaslider .flex-direction-nav a{
	height: 50px;
	display: block;
	//background-color: hsla(0,0%,0%,0.15);
    text-shadow: none;
    color: hsla(0,0%,0%,0);
    opacity: 1 !important;
    
    @media #{$all-lg} {
        top: 35%;
    }
    
    /*&:hover{
        background-color: hsla(0,0%,0%,0.3);
    }*/
    
    &:before{
        content: "";
        display: block;
        width: 40px;
        height: 50px;
        background-position: center;
        position: absolute;
        top: 6px;  
    }
    
    &.flex-next{
        right: 0 !important;
        
        &:before{
            content: "";
            background: url('../images/right-arrow.png') no-repeat !important;
            left: 8px;
        }
    }
    
    &.flex-prev{
        left: 0 !important; 
        //opacity: 1 !important;
        
        &:before{
            background: url('../images/left-arrow.png') no-repeat !important;
            left: 8px;
        }
    }
}

.metaslider .flex-control-nav{
    bottom: 4%;
    z-index: 900;
    
    @media #{$all-lg} {
        display: none;
    }
}

.metaslider .flex-control-paging{
    li a{
        background: transparent;
        border: 2px solid $bg-color;
        
        &.flex-active{
            background: $bg-color;
        }
        
        &:hover{
            background-color: $bg-color;
        }
    }
}

.metaslider .slides li{
	position: relative;
    
    @media #{$all-lg} {
        //background-color: $lightest-grey;
    }
}

.metaslider .caption-wrap{
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 24px;
    padding: 2em 2rem;
    font-weight: bold;
    color: white;
    
    /*p{
        margin-bottom: 0;
    }*/
    
    a{
        padding: 10px 30px;
        font-size: 1em;
        border: 2px solid $bg-color;
        background: none;
        color: white;
        margin-top: 8px;
        text-decoration: none;
        
        &:hover{
            background-color: rgba( #fff, 0.3);
        }
    }
    
    @media #{$all-lg} {
        position: relative;
        color: $main-color;
        font-size: 16px;
        padding: 1em 1rem;
        bottom: 0;
        left: 0;
        
        a{
            color: $main-color;
            border: 2px solid $main-color;
            
            &:hover{
                color: $body-color;
                background-color: $main-color;
            }
        }
    }
}

.flexslider.carousel{
    border: none;
    background-color: $bg-color;
    
    .flex-nav-prev{
        margin-bottom: 0;
    }

    .flex-nav-next{
        margin-bottom: 0;
    }
    
    .slides > li{
        margin-right: 20px;
        //width: em((657.328-40)/3);
        
        &:last-of-type{
            margin-right: 0;
        }
    }
    
    .flex-direction-nav a{
        height: 50px;
        display: block;
        //background-color: hsla(0,0%,0%,0.15);
        text-shadow: none;
        color: hsla(0,0%,0%,0);
        opacity: 1 !important;
        top: 100px;
    
        /*@media #{$all-lg} {
            top: 35%;
        }*/
    
        /*&:hover{
            background-color: hsla(0,0%,0%,0.3);
        }*/
    
        &:before{
            content: "";
            display: block;
            width: 40px;
            height: 50px;
            background-position: center;
            position: absolute;
            top: 6px;  
        }
    
        &.flex-next{
            right: 0 !important;
        
            &:before{
                content: "";
                background: url('../images/right-arrow.png') no-repeat !important;
                left: 8px;
            }
        }
    
        &.flex-prev{
            left: 0 !important; 
            //opacity: 1 !important;
        
            &:before{
                background: url('../images/left-arrow.png') no-repeat !important;
                left: 8px;
            }
        }
    }
}



/* LEAFLET */
.leaflet-bottom{
    bottom: auto !important;
    z-index: 1 !important;
}
