/* =WordPress Core
-------------------------------------------------------------- */
/* line 3, ../scss/wordpress-classes.scss */
.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 7, ../scss/wordpress-classes.scss */
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

/* line 13, ../scss/wordpress-classes.scss */
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 18, ../scss/wordpress-classes.scss */
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 23, ../scss/wordpress-classes.scss */
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 28, ../scss/wordpress-classes.scss */
a img.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 32, ../scss/wordpress-classes.scss */
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 37, ../scss/wordpress-classes.scss */
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 43, ../scss/wordpress-classes.scss */
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

/* line 51, ../scss/wordpress-classes.scss */
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 55, ../scss/wordpress-classes.scss */
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

/* line 59, ../scss/wordpress-classes.scss */
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

/* line 63, ../scss/wordpress-classes.scss */
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

/* line 72, ../scss/wordpress-classes.scss */
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
/* line 80, ../scss/wordpress-classes.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* line 88, ../scss/wordpress-classes.scss */
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
